{{.Key}}: {{.Fields.Summary}}
Type: {{.Fields.Type.Name}}
Status: {{.Fields.Status.Name}}
Priority: {{.Fields.Priority.Name}}
Assignee: {{.Fields.Assignee.DisplayName}}
Reporter: {{.Fields.Reporter.DisplayName}}
Description: {{.Fields.Description}}
Timespent: {{.Fields.TimeSpent}}
